
.hide {
  display: none;
}

body {
  font-family: "Helvetica Neue";
  margin: 10vw;
  display: center;
  text-align: center;
/*   padding: 5px;  */
}

.main {
  text-align: center;
}

.image {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.feedback{
  padding: 30px;
}

#logo{
  width: 5%;
}

h1 {
  font-family: "Helvetica Neue";
  font-weight: 300;
  padding: 20px;
}

h2{
  font-weight: 300;
  font-size: 20px;
}

#introduction{
  text-align: center;
  justify-content: center;
  float: none;
  padding: 10px;
  width: 50%;
  margin: auto;
}

/*
button {
  color: #3217ff;
  font-family: 'Amiri', serif;
  
}*/

/*h2 {
  color: red;
}*/

input, label {
  padding: 5px;
}

.question{
  color: #3217ff;
  font-family: 'Amiri', serif;
}

/*.body{
  --hue: var(--hue-neutral);
  padding:0;
  margin:0;
  display:flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
  background-color:hsl((var --hue), 100%,20%);
}*/
/*
.body.correct{
  --hue :var(--hue-correct);
}*/

.name, .score{
  /*display: block;*/
  display: inline-block;
  white-space: nowrap;
  padding: 12px;
  flex-wrap: wrap;
  /*color: red;*/
  justify-content: space-between;
}

.body.wrong{
  --hue :var(--hue-wrong);
}

#namesDisplay {
  width: 1000px;
  max-width: 75%;
  background-color: white;
  border-radius: 5px;
  padding: 10px; 
  box-shadow: 0 0 1px 0.2px;
  align-content: center;
  justify-content: center;
  transform: translate(120px, 0px);

}

.container{
  width: 1000px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 1px 0.2px;
/*  transform: translate(0px,50px);*/
}
/*.btn-grid {
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 10px;
  margin: 20px 0;
}
*/
/*.selected{ 
  background-color: hsl(var(--hue), 100%, 40%);
}

.notselected{ 
  background-color: hsl(var(--hue), 100%, 50%);
}*/

/*.btn{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  outline: none;
  cursor: pointer;
}*/

.btn:hover{
  border-color:black;
}

/*.start-btn,
.next-player-btn,
.next-btn,
.feedback-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 20px;
  cursor: pointer;
  background-color: hsl(var(--hue), 100%, 50%);
}*/

.controls{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon{
    padding: 20px 10px;
  }

.social{
  padding:10px;
}

.social: hover{
  filter: grayscale(100%);
}

:root {
  --hue-neutral :200;
  --hue-wrong :0;
  --hue-correct: 145;
}

/* Style the navigation bar links */
.navbar a {
  float:left;/* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons */
  text-align: center; /* Center the text */
  padding: 10px 5px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  flex:10%;
}

#numquestion {
  transform: translate(-410px, 10px);
}

nav {
  transform: translate(0px, -100px);
}

.navbar a.current{
   color:blue;
   /*background:#f1d74c;
}

/* Right-aligned link */
/* .navbar a.right {
  float: right; /* Float a link to the right */
/* }  */

/* Change color on hover/mouse-over */
.navbar a:hover {
/*   background-color: blue;  */
  color: blue; /* Black text color */
}

.right{
  flex: 90%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 5px; /* Some padding */
  float:right;
  width:80%;
/*   height:20%; */
  overflow: auto;
}

.grid-container {
  display: inline-grid;
  display: grid;
  grid-gap: 50px;

}